- cache do
  %h1 Find a stop

  = form_tag( london_stops_path, method: :get, class: 'search', role: 'form' ) do |f|
    .group
      = label_tag :stop, 'Enter a stop ID'
      = telephone_field_tag :stop, nil, placeholder: "Example: 72350", autofocus: true
    .group
      = submit_tag 'Go!'

  %p.text-muted
    Enter the five-digit stop code, shown on the bus stop marker, to get real-time bus arrivals!

- unless signed_in?
  = render partial: 'sign_in_form'

- if signed_in?
  = render partial: 'stops', object: TopStopsForUserQuery.new(current_user), locals: {title: 'Top stops for you', top_stop: @predicted_stop}