%h1 Find a stop

- cache do
  = form_tag( london_stops_path, method: :get, class: 'stop', role: 'form' ) do |f|
    .group
      = label_tag :stop, 'Enter a stop ID'
      = telephone_field_tag :stop, nil, placeholder: 72350, autofocus: true
    .group
      = submit_tag 'Go!'

  %p.text-muted
    Enter the five-digit stop code, shown on the bus stop marker, to get real-time bus arrivals!

- unless signed_in?
  = render partial: 'sign_in_form'

- else
  .panel.panel-default
    .panel-heading Top stops for you
    %ul.list-group
    - TopStopsForUserQuery.new(current_user).each do |stop|
      %li.list-group-item= link_to stop.name || stop.stop_id, london_stop_path(stop.stop_id)

  %p.text-muted New session? #{ ActiveSessionTracker.new(current_user).new_session? }