- cache @form do
  %h1 Find a stop

  = form_tag( london_stops_path, method: :get, class: 'search', role: 'form' ) do |f|
    .group
      = label_tag :stop, 'Enter a stop ID'
      = telephone_field_tag :stop, nil, placeholder: "Example: 72350", autofocus: true
    .group
      = submit_tag 'Go!'

- if @stops.stops.any?
  = render partial: 'stops', object: @stops.stops.select(&:show?), locals: { title: 'Nearby stops for you', hide_if_empty: false, latitude: params[:lat], longitude: params[:lon] }

= render partial: 'map_modal'
%button.btn.btn-danger.btn-block{"data-target" => "#map-modal", "data-toggle" => "modal", :type => "button"}
  Map it!

- unless signed_in?
  = render partial: 'sign_in_form'
