%h1
  #{ @statusboard.stop_name }
  %span.stop-indicator #{ @statusboard.stop_indicator }

.predictions
  .header
    %h2.line
    %h2.next next
    %h2.then then
    
  - @statusboard.predictions_by_line.each do |line_name, predictions|
    - next_prediction, then_predictions = predictions.first, predictions.drop(1)
    .prediction{ data: {line: line_name} }
      .line
        .line-name= line_name
      .next{ class: ('due' if due?(next_prediction)) }
        .time= minutes_label_for(next_prediction)
      .then
        - then_predictions.each do |then_prediction|
          .time= minutes_label_for then_prediction
