- cache current_or_guest_user do
  %nav.navbar.navbar-inverse.navbar-fixed-top{:role => "navigation"}
    .container
      .navbar-header
        %button.navbar-toggle.collapsed{style: 'margin-top: 5px; margin-bottom: 5px;', "aria-controls" => "navbar", "aria-expanded" => "false", "data-target" => "#navbar", "data-toggle" => "collapse", :type => "button"}
          %span.sr-only Toggle navigation
          = photo_tag_for current_or_guest_user
        %a.navbar-brand{:href => london_stops_path} MyNextBus
        = render partial: 'autorefresh_button'

      #navbar.collapse.navbar-collapse
        %ul.nav.navbar-nav
          %li= link_to 'Find a stop', london_stops_path
          
          - if signed_in?
            %li= link_to 'Activity', user_path(current_or_guest_user)
            %li= link_to 'Profile',  edit_user_path(current_or_guest_user)
            %li= link_to 'Sign out', destroy_user_session_path

          - else
            %li{"data-target" => "#sign-in-modal", "data-toggle" => "modal", :type => "button"}= link_to "Sign in", '#'

= render partial: 'sign_in_modal'