!!!
%html
  %head
    %title MyNextBus
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag '//maps.googleapis.com/maps/api/js?sensor=false'
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = javascript_include_tag "//www.google.com/jsapi", "chartkick"
    
    = csrf_meta_tags
    %meta{:content => "width=device-width, initial-scale=1", :name => "viewport"}/
    = render partial: 'favicons'
    :javascript
      Turbolinks.enableProgressBar();
      google.load("visualization", "1", {packages:["corechart", "timeline"]});

  %body
  
    -# Header
    = render partial: 'header'

    -# Prediction banner
    = render partial: 'suggestion_banner'

    -# Contents
    .container
      -# Messages
      = render partial: 'flash'

      -# The main content
      = yield
      
    -# Footer
    = render partial: 'footer'
