!!!
%html
  %head
    %title MyNextBus
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = javascript_include_tag "//www.google.com/jsapi", "chartkick"
    = csrf_meta_tags
    %meta{:content => "width=device-width, initial-scale=1", :name => "viewport"}/
    %script{type: "text/javascript"}
      Turbolinks.enableProgressBar();
      google.load("visualization", "1", {packages:["corechart"]});

  %body
  
    = render partial: 'header'

    .container
      / Messages
      = render partial: 'flash'

      / The main content
      = yield
